@charset "utf-8";

@font-face {
    font-family: WarPriest;
    src: url(../fonts/WarPriestRegular-PanE.ttf);
}

nav {
    box-sizing: content-box;
    background-color: rgb(134, 174, 255);
    padding: 4px 0 4px 0;
    display: flex
}

nav ul {
    box-sizing: content-box;
    padding-left: 2%;
    width: 500px;
    margin-top: 25px;
}

nav ul li {
    box-sizing: content-box;
    display: inline;
    margin-left: 6%;
    color: rgb(0, 55, 208);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

nav ul li a {
    box-sizing: content-box;
    text-decoration: none;
    color: rgb(0, 55, 208);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

nav ul li a:hover{
    color: rgb(121, 105, 1);
}

#signOut:hover{
    color: rgb(121, 105, 1);
}

.fa.fa-caret-down {
    color: rgb(0, 16, 196);
}

.fa.fa-caret-down:hover {
    color: rgb(255, 255, 255);
}

.fa.fa-align-justify {
    font-size: 20px;
    padding-left: 2%;
    position: relative;
    top: 25px;
}

.fa.fa-align-justify:hover {
    color: rgb(123, 123, 123)
}

#logo {
    width: 130px;
    object-fit: contain;
}

#gameName {
    font-family: warPriest;
    font-size: 3em;
    margin: 5px 1% 0 2%;
    color: #ffd900;
    -webkit-text-stroke: 1px #b89c00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
}

.subNav ul {
    list-style-type: none;
    padding: 0%;
}

.subNav ul li{
   margin-bottom: 5%;
}

.subNav ul li a{ 
    color: rgb(0, 94, 255);
}
.subNav ul li a:hover{ 
    color: rgb(196, 170, 1);
}

.subNav {
    background-color: rgb(221, 219, 219);
    position: absolute;
    z-index: 9;
    padding:3px 1% 3px 1%;
    font-size: 15px;
  
}

#clanSubNav{
    right:375px
}

#cardSubNav{
    right:275px
}

#friendSubNav{
    right:195px
}