@charset "utf-8";

@font-face {
    font-family: Bright_Melody;
    src: url(../fonts/Bright\ Melody\ Personal\ Use\ Only.ttf);
}


body{
    margin: 0%;
    overflow: hidden;
}

.form{
    background-position: 1%;
    background-image: url("../images/signUp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh; 
}

.inputs{
    margin-top: 6%;
}

#character{
    width:210px;
    object-fit: contain;
    position: absolute;
    left:200px;
    top:5px
}

.main{
    padding: 2% 4% 2% 4%;
    width: 400px;
    margin: auto;
    background-color: white;
    position: absolute;
    left: 400px;
    top:130px

}

h2 {
    margin-bottom: 8%;
    font-family: Bright_Melody;
    text-decoration: underline;
}

label{
    font-family:sans-serif
}

#submitSignOut{
    padding: 1% 2% 1% 2%;
    margin:5% 0 0 2%;
}
.alert{
    border: 2px rgb(149, 195, 255) solid;
    width: 90%;
    height: 350px;
    padding:2%;
    background-color: rgb(221, 239, 255);
    box-shadow: 0px 0px 50px rgba(76, 76, 76, 0.201)
 }
#alert-box{
    position: absolute;
    right: 250px;
    width: 50%;
    bottom:100px;
}
#congrats{
    font-size: large; 
    font-weight: 2em; 
    color: rgb(225, 3, 177);
    font-family: Helvetica, sans-serif;
}

.warning{
    background-color: rgb(255, 0, 0);
    width:400px;
    height: 200px;
    margin: 5% 2% 15% 10%;
    box-shadow: 0px 0px 50px rgba(76, 76, 76, 0.201);
    text-align: center;
 }

#text{
    padding-top:22%;
    color:white;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}