.custom-button {
    background-color: #ff5c39;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #e44226;
}

.custom-button:focus,
.custom-button:active,
.custom-button:focus:not(:active) {
    outline: none;
    box-shadow: none;
    background-color: #ff5c39;
}