@font-face {
    font-family: WarPriest;
    src: url(../fonts/WarPriestRegular-PanE.ttf);
}

.WPFont {
    font-family: warPriest;
    font-size: 50px;
}

.card {
    background-color: rgb(255, 249, 161);
    border: 4px solid red;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.card-image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.card-details {
    margin-top: 20px;
}

.card-info p {
    margin-bottom: 5px;
}

/* Reset default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

/* Set a global font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(255, 249, 161);
}


/* Style the back button */
button {
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Style the headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Add spacing between sections */
p {
    margin-bottom: 10px;
}

/* Add a horizontal line */
hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

#mySelectedCard,
#friSelectedCard {
    height: 350px;
    background-color: #000000a0;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the trading card sections */
#MyCards,
#TheirCards {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the trade button */
#tradeButton {
    font-size: 25px;
    width: 80%;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#tradeButton:hover {
    background-color: #e70000;
}


/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .container-fluid {
        margin: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    #MyCards,
    #TheirCards,
    #mySelectedCard,
    #friSelectedCard {
        padding: 10px;
    }

    #tradeButton {
        font-size: 14px;
        padding: 8px 12px;
    }

}