@charset "utf-8";

@font-face {
    font-family: WarPriest;
    src: url(../fonts/WarPriestRegular-PanE.ttf);
}

/*non nav*/
body {
    margin: 0%;
    background-image: url("../images/HomepageBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#homepageDetails {
    background-image: url("../images/HomepageBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#HPlogo {
    position: absolute;
    top: 85px;
    left: 415px;
    width: 450px;
}

h1 {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 16%;
    font-family: warPriest;
    text-align: center;
    font-size: 60px;
    color: #ffd900;
    -webkit-text-stroke: 0.1px #b89c00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
}

#description {
    margin-top: 3%;
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: arial;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.607);
}

.buttons {
    position: absolute;
    left: 550px;
    width: 500px;
    margin-top: 3%;
}

.button {
    padding: 5px 8px 5px 8px;
    font-size: 15px;
}

#signUp {
    margin-left: 3%;
}

#signUp:hover {
    background-color: rgb(244, 160, 82);
    color: white;
}

#login {
    margin-right: 3%;
}

#login:hover {
    background-color: rgb(244, 160, 82);
    color: white;
}