@charset "utf-8";

@font-face {
    font-family: WarPriest;
    src: url(../fonts/WarPriestRegular-PanE.ttf);
}


.clanMain {
    margin: 0;
    background-image: url("../images/showClanBG.jpg");
    background-repeat: none;
    background-size: contain;
    box-sizing: content-box;
    overflow: auto;
}



/* non nav*/
.clanMain {
    background-image: url("../images/showClanBG.jpg");
    background-repeat: none;
    background-size: cover;
    padding-top: 2%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: content-box;
}

#clanDiv {
    overflow-y: auto;
    height: calc(100% - 50px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
#clanDiv::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#clanDiv {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#clans {
    padding: 2%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.clanDiv {
    padding: 5% 2% 0% 5%;
    margin-right: 2%;
    background-image: url("../images/clanBackground.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    width: 190px;
    height: 330px;
    color: white;
    box-sizing: content-box;
}

.clanInfo {
    font-family: 'Times New Roman', Times, serif;
    margin: 12% 0% 0% 5%;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
}

p {
    margin-top: 3%;
}

.members {
    margin: 0% 0 0 0;
    padding: 3% 3% 3% 3%;
    border: 1px solid rgb(77, 42, 0);
    font-size: 14px;
    line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.members:hover {
    background-color: rgb(243, 97, 0);
    color: rgb(255, 255, 255);
}

.goClan {
    display: block;
    margin: 10% 0 0 0;
    padding: 3% 3% 3% 3%;
    border: 1px solid rgb(77, 42, 0);
    font-size: 14px;
    line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.goClan:hover {
    background-color: rgb(243, 97, 0);
    color: rgb(255, 255, 255);
}

.clanDetails p {
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 255, 255)
}

.clanDetails span {
    font-weight: normal;
    font-size: 15px;
    color: rgb(255, 191, 52)
}

#alert-unjoin {
    position: absolute;
    top: 250px;
    left: 450px;
    background-color: white;
    padding: 2% 3% 2% 3%;
}

#yesUnjoin {
    margin-right: 2%;
}

.fa.fa-plus {
    font-size: 40px;
    position: relative;
    top: 110px;
    left: 60px
}

.fa.fa-plus:hover {
    color: rgb(225, 191, 0);
}

#joinAClan {
    font-size: 20px;
    position: relative;
    top: 110px;
    left: 35px
}

#alert {
    z-index: 1;
}

.unjoin{
    margin-top: 5%;
}

.unjoin:hover{
    background-color: rgb(174, 174, 174);
}

#clanPlus{
margin-left: 5px;
}

